@model Practice5.Domain.Entities.Plantation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plantation</h4>
    <p>
        @Html.ActionLink("Add Flowers", "AddFlowers", new { id = Model.Id }, new { @class = "btn btn-success" })
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt>
            @Html.DisplayName("Flowers")
        </dt>
        @foreach (var item in (IEnumerable<Practice5.WebUI.Models.FlowersAmountViewModel>)ViewBag.FlowersInfo)
        {
            <dd>
                @item.Name
                @item.Amount
                <div>
                    @Html.ActionLink("Edit", "EditPlantationFlowers", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Remove", "DeletePlFl", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </div>
            </dd>
        }
      
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
