@model Practice5.Domain.Entities.Supply

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plantation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plantation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduledDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
