@model Practice5.Domain.Entities.PlantationFlower

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlantationFlower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flower.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flower.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plantation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plantation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
